* {
  font-family: "Inter";
}

.hue img {
  transform: scaleX(-1);
  width: 50% !important;
}

.home {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  filter: invert(100%);
  padding: 1rem;
  z-index: 99;
}
.home img {
  height: 50px;
  width: 50px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: white;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 70%;
  padding: 2rem;

  background-color: rgba(124, 124, 124, 0.7);
  font-size: 1.3rem;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(31, 193, 27) 10px -10px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 156, 85) 30px -30px,
    rgb(255, 85, 85) 40px -40px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  padding: 1rem;
  cursor: pointer;
}
